body { 
	color: #F3FFF8;
	background-color: #3ECAFF; 
}
@font-face {
    font-family: ReemKufi-Regular;
    src: url(fonts/ReemKufi-Regular.ttf);
}

div {
    font-family: ReemKufi-Regular;
}

h1#body_title {
	text-align: center;
	font-size: 300px;
	padding-top: 10%;
	padding-bottom: 10%;
}

i#rotation_arrow {
	text-align: center;
	font-size: 2em;
	color:blue;
}

button#rotation_arrow {
    border: 0;
    background-color: #3ECAFF;
}

.center_element {
    text-align: center;
}

.loop_arrow {
    -webkit-transition: 200ms linear all;
    -moz-transition: 200ms linear all;
    -o-transition: 200ms linear all;
    transition: 200ms linear all;
}

.loop_arrow.on {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

div.progress {
  margin: 20px 20px 20px 0;
  padding: 0;
  width: 540px;
  height: 20px;
  background-color: #eef;
  border: 1px solid #444;
  position:relative;
}

div.progressIndicator {
  margin: 0;
  padding: 0;
  background-color: #fbcb46;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
  width: 10%;
  height: 100%;
}

div.progressVal {
  position: absolute;
  top: 0;
  left:10px;
  z-index:2;
  margin: 0;
  padding: 0;
  height: 20px;
  text-align: center;
  font-weight: bold;
}

/* =Preloader */
#preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: #212121;
  color: #ffffff; }
  #preloader .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  #preloader .txt-perc {
    font-size: 20px;
    font-family: 'ReemKufi-Regular';
    opacity: 1;
    margin: 0 0 6px 0;
    max-width: 400px;
    text-align: center; }
  #preloader .progress {
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto 15px auto; }
    #preloader .progress span {
      display: block;
      width: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8); }
  #preloader.is-hidden {
    visibility: hidden;
    opacity: 0;
    }

.is-loading {
  overflow: hidden; }

.loaded {
    display: none;
}