.col.s12
  %h1 It is time to choose which alphabet type will rule the world?
.col.s12
  .input-field.col.s12.m6
    %select.icons#single
      %option{:disabled => "disabled", :selected => "selected", :value => ""} Choose your option
      %option.left.circle{:value => "lv"} Latvian
      %option.left.circle{:value => "ru"} Russian
      %option.left.circle{:value => "dk"} Danish
      %option.left.circle{:value => "cust"} Custom
    %label Images in select
.col.s4#load_button