@font-face {
  font-family: ReemKufi-Regular;
  src: url(fonts/ReemKufi-Regular.ttf);
}

body {
    color: #F3FFF8;
    background-color: #6ee044;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: ReemKufi-Regular;
}

/* Side navigation */
span#name {
  padding-bottom: 5%;
}

h1#welcome-text {
  text-align: left;
  font-size: 16px;
  padding-right: 7%;
  padding-left: 10%;
  color: grey;
}

p#welcome-par {
  text-align: left;
  font-size: 15px;
  padding-right: 7%;
  padding-left: 10%;
  color: grey;
}

h2#body_title {
  text-align: center;
  font-size: 300px;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
}
/* Side navigation */

h2#body_title {
    text-align: center;
    font-size: 250px;
    padding-top: 10%;
    padding-right: 2%;
    padding-left: 2%;
}

i#rotation_arrow {
  text-align: center;
  font-size: 2em;
  color: blue;
}

button#rotation_arrow {
    border: 0;
    background-color: #6ee044;
}

.center_element {
  text-align: center;
}

.loop_arrow {
  -webkit-transition: 200ms linear all;
  -moz-transition: 200ms linear all;
  -o-transition: 200ms linear all;
  transition: 200ms linear all;
}

.loop_arrow:hover {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.loop_arrow:out {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.loop_arrow.on {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.btn-floating img {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 40px;
}