@font-face {
    font-family: ReemKufi-Regular;
    src: url(fonts/ReemKufi-Regular.ttf);
}

body {
    color: #F3FFF8;
    background-color: #3ECAFF;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: ReemKufi-Regular;
}

/* Side navigation */
span#name {
    padding-bottom: 5%;
}

h1#welcome-text {
    text-align: left;
    font-size: 16px;
    padding-right: 7%;
    padding-left: 10%;
    color: grey;
}

p#welcome-par {
    text-align: left;
    font-size: 15px;
    padding-right: 7%;
    padding-left: 10%;
    color: grey;
}

h2#body_title {
    text-align: center;
    font-size: 300px;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

h3#facebook {
    text-align: left;
    font-size: 15px;
    padding-bottom: 2%;
    padding-right: 7%;
    padding-left: 10%;
    color: grey;
}
/* fb buttons */
#fb-buttons {
    padding-top: 1%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

/* Side navigation */

h2#body_title {
    text-align: center;
    font-size: 250px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 2%;
    padding-left: 2%;
}

i#rotation_arrow {
    text-align: center;
    font-size: 2em;
    color: blue;
}

button#rotation_arrow {
    border: 0;
    background-color: #3ECAFF;
}

.center_element {
    text-align: center;
}

.loop_arrow {
    -webkit-transition: 200ms linear all;
    -moz-transition: 200ms linear all;
    -o-transition: 200ms linear all;
    transition: 200ms linear all;
}

.loop_arrow:hover {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.loop_arrow:out {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.loop_arrow.on {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/* =Preloader */
#preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #212121;
    color: #ffffff;
}

#preloader .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#preloader .txt-perc {
    font-size: 20px;
    opacity: 1;
    margin: 0 0 6px 0;
    max-width: 400px;
    text-align: center;
}

#preloader .progress {
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto 15px auto;
}

#preloader .progress span {
    display: block;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

#preloader.is-hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.is-loading {
    overflow: hidden;
}

.loaded {
    display: none;
}

.btn-floating img {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
}

.hidden {
    display: none;
}

/* Side navigation hamburger */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #ffffff;
    height: 2px;
}

button.hamburger:focus {
    background-color: transparent;
}