.container
  .row
    .col.s10.m8.l4.offset-s1.offset-m2.offset-l4.center_element
      %h2#body_title A
  .row
    .col.s6.m8.l4.offset-s3.offset-m2.offset-l4.center_element
      %button#rotation_arrow{:click_id => "rotation_arrow", :type => "submit"}
        %i.large.material-icons.loop_arrow loop