.container
  .row
    .col.s10.m8.l4.offset-s1.offset-m2.offset-l4.center_element
      %h2#generate_word_section 
        = alphabet_letter
  .row
    .col.s6.m8.l4.offset-s3.offset-m2.offset-l4.center_element
      %button#generate_new_element
        %i.large.material-icons.loop_arrow loop