.container#fullpage
  .row#home_section.section
    .col.s12
      %h1 Hi there, what kind of beautifull things you want to generate?
    .col.s6
      %a.waves-effect.waves-light.btn-large#load_letter_section
        %i.material-icons.left> cloud
        Letters
    .col.s6
      %a.waves-effect.waves-light.btn-large#load_number_section
        %i.material-icons.left> cloud
        Numbers
  .row#choose_section.section.hide
  .row#generate_section.section.hide